{% extends 'base.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded article-img" src="{{ object.image.url }}" height="300px" width="300px">
    <br>
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">{{ object.author }}</a> -->
       <br><br>
        {% if object.author == user.profile %}
          <div>
          
          </div>
        {% endif %}
      </div>
      <form action="{% url 'like_post' object.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="post_id" value="{{object.id}}" class="btn-sm btn-outline-dark"><i class="bi bi-hand-thumbs-up"></i></button>
        <p>Likes: {{ total_likes }}</p>
      </form>
      <h2 class="article-title">{{ object.caption }}</h2>
   
    </div>
  </article>
{% endblock content %}